{% extends 'base.html' %}

{% block title %}
{{ PROJECT_TITLE }} - Excluir Categoria
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="display-4 text-danger">Excluir Categoria</h3>
    <div class="card border-danger">
        <div class="card-body">
            <h5 class="card-title">Tem certeza que deseja excluir a categoria abaixo?</h5>
            <ul class="list-group mb-3">
                <li class="list-group-item bg-dark text-white"><strong>ID:</strong> {{ category.id }}</li>
                <li class="list-group-item bg-dark text-white"><strong>Nome:</strong> {{ category.name }}</li>
                <li class="list-group-item bg-dark text-white"><strong>Descrição:</strong> {{ category.description }}
                </li>
            </ul>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                <a href="{% url 'category_list' %}" class="btn btn-secondary ms-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}